@keyframes reval {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.h1 {
  overflow: hidden;
}

.h1 span {
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.05em;
  animation: reval 5s cubic-bezier(0.19, 1, 0.22, 1);
  animation-delay: calc(0.03s * var(--index));
  animation-fill-mode: backwards;
}
.button {
  width: 100%;
  margin-top: 24px;
  cursor: pointer;
  position: relative;
  height: 32px;
  font-size: 14px;
  padding-inline: 12px;
  font-weight: 500;
  border-radius: 9999px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.04);
}
